
@media (max-width: 769px) {

    #body{
        max-width: 500px;

        padding: 0px;
        margin: 0px;

        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
        position: fixed;
    }

    #hero{
        
        margin: -5px;
    }
/* ESTILIZAÇÃO DO CONFIG */
    #config{
    width: 340px;
    height: 700px;
    /* display: none; */
    border-radius: 10px;
    z-index: 10;
    top: 45%;
    left: 49%;
}

#closeButton{
    float: inline-end;
    margin: 10px;
    
}

#left-nav{
    float: left;
    display: flex;
    flex-direction: column;
   
    width: 50px;
    height: 700px;
    padding: 15px 15px -10px 15px;
    margin: 0px 10px 0px 0px;
    
}

#config-section{
    padding: 10px;
}

.ln-btn{
    width: 40px;
    height: 40px;
    
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.config-options{
    width: 490px;
    height: 670px;
    border-radius: 0px 0px 10px 0px;
}

.colorButtons{
    display: flex;
    margin: 0px;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    padding: 0px;
}



/* ESTILIZAÇÃO DE TUDO GERAL  */

#container{
    width: 300px;
    margin-top: 5px;
}

#minutes,#seconds{
    font-size: 80px;
   
    display: flex;
    color: #ffffff;
}


#to-do{
    width:370px;
    height: 300px;
    
}

#to-do:hover{
    box-shadow: 0 0 20px #6fc5ff91;
    transform: scale(1.0);
  
}


#list{
    width: 350px;
}
#add-item-btn{
    width: 46px;
    height: 47px;
}

#list::-webkit-scrollbar{
    background-color: rgb(194, 194, 228);
    border-radius: 10px;
    width: 8px;
}

li{
    width: 300px;
    
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 56);
    padding: 15px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #config{
        width: 600px;
    }
}