@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/*  font-family: "Pixelify Sans", sans-serif;*/

body{
background-image: url('assets/wallpaper.gif');
background-size: cover;
background-attachment: fixed;
background-position: center center;
width: 100vw;
height: 100vh;
padding: 0px;
overflow: hidden;
 font-family: 'Pixelify Sans';
}

#hero{
    background-image: linear-gradient(to bottom right, rgba(35, 35, 82, 0.744), rgba(12, 12, 62, 0.645),rgba(78, 78, 143, 0.463));
    width: 99vw;
    height: 98vh;
    padding: 0px;
    border-radius: 10px;
    margin: 0px;
   
}

#options{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-image: linear-gradient(to right bottom,rgba(48, 48, 126, 0.563), rgba(89, 89, 179, 0.618));
    width: 400px;
    border-radius: 30px;


}

#minutes,#seconds{
    font-size: 100px;
    font-family: 'Pixelify Sans';
    display: flex;
    color: rgb(224, 201, 245);
}

#buttons{
    display: flex;
    justify-content: center;
    margin: 10px;
}



#to-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 350px;
    background-image: linear-gradient(to right bottom,rgba(48, 48, 126, 0.621), rgba(89, 89, 179, 0.725));
}



#input-area{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#add-item-btn{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(88, 130, 228, 0.629);
    border-style: solid;
    border-color: rgb(96, 120, 253);
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
#add-item-btn:hover{
    background-color: rgb(11, 21, 108);
    transition: 1s;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding: 15px;
    margin: 10px;
  
    height: 700px;
}
#list::-webkit-scrollbar{
    background-color: rgb(194, 194, 228);
    border-radius: 10px;
}


#list-item{
   
    width: 400px;
    height: 45px;
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
     
}

#deleteBtn{
    float: inline-end;
    border-radius: 10px;
    background-color: rgba(86, 116, 187, 0.525);
    border-style: solid;
    border-color: rgb(96, 120, 253);
    color: white;
}

#config{
    position: fixed;
    background-color: rgb(3, 10, 51);
    width: 700px;
    height: 600px;
    border-radius: 10px;
    /*display: none;*/
    margin: auto;

    z-index: 10;
    
}